*.swp
.DS_STORE
.phplint-cache
.log
.idea/
vendor/
composer.phar
test/integration/test/integration/wovn_index_sample_workspace
.phpunit/

/docker/*
!/docker/apache/*
!/docker/nginx/*
!/docker/HOWTO.md
!/docker/php.ini
!/docker/public/index.html
!/docker/apache.yml
!/docker/nginx.yml
!/docker/wp_apache.yml

