*.swp
.DS_STORE
.phplint-cache
.log
.idea/
.vscode/
vendor/
composer.phar
test/integration/test/integration/wovn_index_sample_workspace
.phpunit/

/docker/*
!/docker/apache/*
!/docker/nginx/*
!/docker/HOWTO.md
!/docker/php.ini
!/docker/public/.htaccess
!/docker/public/wovn.ini
!/docker/public/wovn.json
!/docker/public/testdir/*
!/docker/public/testpage.html
!/docker/public/ssi_*.html
!/docker/public/ssi_*.php
!/docker/public/testpage-redirect-origin.php
!/docker/public/index.html
!/docker/apache.yml
!/docker/nginx.yml
!/docker/wp_apache.yml
!/docker/test.yml
!/docker/test.Dockerfile
!/docker/scripts/startup.sh

