{
    "project_token": "TOKEN",
    "url_pattern_name": "query",
    "default_lang": "ja",
    "supported_langs": [
        "ja",
        "fr",
        "en"
    ],
    "custom_lang_aliases": {
        "ja": "japanese"
    },
    "encoding": "UTF-8"
}
