version: '3'
services:
  apache:
    container_name: apache
    build:
      context: ./apache
      dockerfile: Dockerfile
    ports:
      - 80:80
    volumes:
      - ./apache/log:/var/log/apache2
      - ./apache/apache2.conf:/etc/apache2/sites-enabled/apache2.conf
      - ./php.ini:/usr/local/etc/php/php.ini
      - ./public:/var/www/html
      - ../:/var/www/html/WOVN.php
      - ../wovn.ini.sample:/var/www/html/wovn.ini
      - ../wovn.json.sample:/var/www/html/wovn.json
      - ../wovn_index_sample.php:/var/www/html/wovn_index.php
      - ../htaccess_sample:/var/www/html/.htaccess
    networks:
      - backend-network
networks:
  backend-network:
    name: 'backend-network'

