version: '3.5'
services:
  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - ./public:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./nginx/log:/var/log/nginx
    depends_on:
      - app
    networks:
      - backend-network
  app:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: app
    volumes:
      - ../:/var/www/html/WOVN.php
      - ./public:/var/www/html
      - ./php.ini:/usr/local/etc/php/conf.d/php.ini
      - ../wovn.json.sample:/var/www/html/wovn.json
      - ../wovn.ini.sample:/var/www/html/wovn.ini
      - ../wovn_index_sample.php:/var/www/html/wovn_index.php
    networks:
      - backend-network
networks:
  backend-network:
    name: 'backend-network'
