version: '3'
services:
  apache:
    container_name: apache
    image: wordpress:4.8.0-php7.1-apache
    ports:
      - 80:80
    depends_on:
      - mysql
    environment:
      WORDPRESS_DB_HOST: mysql:3306
      WORDPRESS_DB_PASSWORD: password
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_DB_USER: wp_user
    working_dir: /var/www/html/wordpress_dir
    volumes:
      - ./apache/log:/var/log/apache2
      - ./apache/apache2.conf:/etc/apache2/sites-enabled/apache2.conf
      - ./php.ini:/usr/local/etc/php/php.ini
      - ./public:/var/www/html
      - ../:/var/www/html/WOVN.php
      - ../wovn.ini.sample:/var/www/html/wovn.ini
  mysql:
    container_name: mysql
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wp_user
      MYSQL_PASSWORD: password
    volumes:
      - ./mysql:/var/lib/mysql

